demo1.json
{
  "name": "실습1",
  "nodes": [
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"risk_level\": {\n      \"type\": \"string\",\n      \"enum\": [\"낮음\", \"중간\", \"높음\"]\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"suspicious_findings\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"normal_possibilities\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"human_checks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"recommended_actions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"risk_level\",\n    \"summary\",\n    \"suspicious_findings\",\n    \"normal_possibilities\",\n    \"human_checks\",\n    \"recommended_actions\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "6c259a9f-9818-4863-92fd-455352d1a17c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fdaf175e-eed1-4907-901d-6ca22f10cb7e",
      "name": "실습 시작"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6533ccc9-2237-4ee1-92a9-50bef54b937d",
              "name": "login_log",
              "value": "=timestamp,user_id,ip,result,user_agent\n2026-07-28 09:00:12,kim,192.168.0.10,success,Chrome\n2026-07-28 09:03:21,lee,192.168.0.21,failed,Edge\n2026-07-28 09:03:48,lee,192.168.0.21,failed,Edge\n2026-07-28 09:04:15,lee,192.168.0.21,success,Edge\n2026-07-28 09:20:01,admin,185.220.101.15,failed,Unknown\n2026-07-28 09:20:25,admin,185.220.101.15,failed,Unknown\n2026-07-28 09:20:51,admin,185.220.101.15,failed,Unknown\n2026-07-28 09:21:16,admin,185.220.101.15,failed,Unknown\n2026-07-28 09:21:42,admin,185.220.101.15,failed,Unknown\n2026-07-28 09:22:07,admin,185.220.101.15,failed,Unknown\n2026-07-28 09:30:11,choi,45.155.204.12,failed,python-requests\n2026-07-28 09:30:22,han,45.155.204.12,failed,python-requests\n2026-07-28 09:30:35,jung,45.155.204.12,failed,python-requests\n2026-07-28 09:40:08,yoon,203.0.113.25,failed,Chrome\n2026-07-28 09:40:31,yoon,203.0.113.25,failed,Chrome\n2026-07-28 09:41:02,yoon,203.0.113.25,failed,Chrome\n2026-07-28 09:41:29,yoon,203.0.113.25,failed,Chrome\n2026-07-28 09:41:55,yoon,203.0.113.25,failed,Chrome\n2026-07-28 09:42:18,yoon,203.0.113.25,success,Chrome",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4bc3f51b-ba76-4490-a248-797c12bb41f8",
      "name": "로그인 샘플 데이터"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 로그인 로그를 분석하는 보안 분석 AI입니다.\n\n입력된 로그에 있는 정보만 사용하고, 없는 사실은 추측하지 마세요.\n\n위험도는 반드시 `낮음`, `중간`, `높음` 중 하나로 판단하세요.\n\n이번 분석에서는 오탐으로 인한 정상 사용자 차단을 방지하기 위해 보수적으로 위험도를 판단하세요.\n\n## 판단 순서\n\n먼저 높음 조건을 확인하고, 높음 조건이 충분하지 않으면 중간, 이상 징후가 거의 없으면 낮음으로 판단하세요.\n\n### 높음\n\n다음 조건 중 2개 이상이 동시에 충족되고, 실제 계정 침해를 의심할 수 있는 추가 정황이 로그에서 확인되는 경우에만 `높음`으로 판단하세요.\n\n* 관리자 계정에서 로그인 실패가 10회 이상 발생\n* 동일 IP에서 서로 다른 계정 5개 이상으로 로그인 시도\n* 비정상 User-Agent를 사용한 대량 로그인 시도가 발생\n* 반복 로그인 실패 후 성공한 뒤 권한 변경, 중요 정보 조회, 비밀번호 변경 등 후속 이상 행위가 확인됨\n* 짧은 시간에 여러 계정에서 로그인 성공이 발생\n* 동일한 공격 패턴이 여러 IP에서 반복됨\n\n단순한 로그인 실패, 비정상 User-Agent 사용, 여러 계정에 대한 로그인 시도만으로는 실제 공격이 확정되지 않으므로 `높음`으로 판단하지 마세요.\n\n### 중간\n\n다음 중 하나 이상이 확인되지만 실제 계정 침해 또는 후속 이상 행위가 확인되지 않은 경우 `중간`으로 판단하세요.\n\n* 관리자 계정에서 로그인 실패가 반복됨\n* 동일 IP에서 여러 사용자 계정으로 로그인 시도\n* User-Agent가 `Unknown`, `curl`, `python-requests`, `wget` 등 일반적이지 않은 도구\n* 동일 계정에서 로그인 실패 후 로그인 성공\n* 동일 계정 또는 동일 IP에서 로그인 실패가 3회 이상 반복\n* 서로 다른 이상 징후가 2개 이상 확인되지만 실제 침해 여부는 확인되지 않음\n\n### 낮음\n\n높음과 중간 조건이 없고 다음에 해당하면 `낮음`으로 판단하세요.\n\n* 로그인 실패가 1~2회 발생\n* 하나의 계정에서만 발생\n* 일반적인 브라우저 User-Agent 사용\n* 로그인 실패 이후 추가 이상 행위가 없음\n* 반복적이거나 복합적인 이상 징후가 없음\n\n## 중요 판단 원칙\n\n* 로그인 실패와 비정상 User-Agent만으로 실제 공격이라고 확정하지 마세요.\n* 로그인 성공이 있더라도 성공 이후의 이상 행위가 없으면 계정 탈취로 확정하지 마세요.\n* 공격 여부를 확정할 수 있는 정보가 부족하면 `중간`으로 판단하세요.\n* 위험도를 필요 이상으로 높게 평가하지 마세요.\n* `공격 가능성`, `계정 탈취 가능성`, `추가 확인 필요`처럼 표현하세요.\n* 계정 잠금이나 IP 차단을 즉시 실행하라고 지시하지 마세요.\n* 조치는 반드시 담당자 확인 후 수행하도록 작성하세요.\n\n연결된 Structured Output Parser 형식에 따라 실제 분석 결과만 반환하세요.\n\n* `risk_level`: 낮음, 중간, 높음 중 하나\n* `summary`: 판단 근거를 2문장 이내로 작성\n* `suspicious_findings`: 확인된 이상 징후 배열\n* `normal_possibilities`: 정상 행동일 가능성 배열\n* `human_checks`: 담당자가 확인할 사항 배열\n* `recommended_actions`: 담당자 확인 후 검토할 조치 배열\n\nJSON Schema를 출력하지 마세요.\n\n응답에 `type`, `properties`, `items`, `required`, `enum`을 포함하지 마세요.\n\n마크다운이나 추가 설명 없이 실제 결과만 반환하세요.\n\n분석할 로그인 로그:\n\n{{ $json.login_log }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "546f3dcf-1b2c-46e3-b2e5-932048840ad5",
      "name": "로그인 위험 분석"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e125b840-d071-492f-9a74-4e99c5c0bacb",
              "leftValue": "={{ $json.output.risk_level }}",
              "rightValue": "=높음",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        0
      ],
      "id": "05849fe2-817e-423d-8b30-39b7be10faea",
      "name": "위험도 판단"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"담당자 확인 필요\",\n  \"risk_level\": \"{{ $json.output.risk_level }}\",\n  \"summary\": \"{{ $json.output.summary }}\",\n  \"human_checks\": {{ $json.output.human_checks }},\n  \"recommended_actions\": {{ $json.output.recommended_actions }},\n  \"message\": \"AI 분석 결과 위험도가 높습니다. 차단이나 계정 잠금은 담당자 확인 후 결정하세요.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -96
      ],
      "id": "f4dddf0d-827a-4059-bdc2-9150482d42f5",
      "name": "위험도 높음 - 보안담당자 요청"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"분석 완료\",\n  \"risk_level\":  \"{{ $json.output.risk_level }}\",\n  \"summary\": \"{{ $json.output.summary }}\",\n  \"message\": \"즉시 조치 대상은 아니지만 분석 결과를 검토하세요.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        96
      ],
      "id": "92321e08-6acd-417c-b341-85a33f1acdf0",
      "name": "위험도 낮음 - 분석 결과 확인"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        224
      ],
      "id": "12023ec1-8246-484b-9c30-d695c914d2ff",
      "name": "Google Gemini Chat 3.5flash",
      "credentials": {
        "googlePalmApi": {
          "id": "jbcyJLVcHOUOjoUK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/N8NTestAlert20260716",
        "sendBody": true,
        "contentType": "=raw",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "rawContentType": "text/plain",
        "body": "=[로그인 이상 징후 탐지]\n\n위험도: {{ $json.risk_level }}\n\n요약:\n{{ $json.summary }}\n\n확인 필요:\n{{ $json.human_checks }}\n\n권장 대응:\n{{ $json.recommended_actions }}\n\n※ AI 분석 결과 위험도가 높음으로 판단되었습니다.\n해당 IP를 자동 차단하고 관련 계정을 잠금 처리하겠습니다.",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        -96
      ],
      "id": "e8ed349d-0057-4136-8dbd-695ad0b6c1be",
      "name": "ntfy 알림 앱"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/N8NTestAlert20260716",
        "sendBody": true,
        "contentType": "=raw",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "rawContentType": "text/plain",
        "body": "=[분석 결과 확인]\n\n위험도: {{ $json.risk_level }}\n\n요약:\n{{ $json.summary }}\n\n※ 위험도가 자동 대응 기준에 해당하지 않아 차단이나 계정 잠금을 실행하지 않았습니다.\n본 내용은 AI 분석 결과이며, 필요시 담당자가 추가로 확인하세요.",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        96
      ],
      "id": "87e6c816-b3f4-419e-9e4a-c9c5b4a4e32e",
      "name": "ntfy 알림 앱1"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "로그인 위험 분석",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "실습 시작": {
      "main": [
        [
          {
            "node": "로그인 샘플 데이터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로그인 샘플 데이터": {
      "main": [
        [
          {
            "node": "로그인 위험 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "로그인 위험 분석": {
      "main": [
        [
          {
            "node": "위험도 판단",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "위험도 판단": {
      "main": [
        [
          {
            "node": "위험도 높음 - 보안담당자 요청",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "위험도 낮음 - 분석 결과 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat 3.5flash": {
      "ai_languageModel": [
        [
          {
            "node": "로그인 위험 분석",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "위험도 높음 - 보안담당자 요청": {
      "main": [
        [
          {
            "node": "ntfy 알림 앱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "위험도 낮음 - 분석 결과 확인": {
      "main": [
        [
          {
            "node": "ntfy 알림 앱1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "03dece7c-f42b-4636-9950-2e2d8f55204c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b317f3793dbfa2e77afccb432cd109d5363f7b46a58e82ce3ad6a7f1a793ff1"
  },
  "id": "loIgkeCFzJ6paaj5",
  "tags": []
}