demo2.json
{
  "name": "실습2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "764dfb34-c86b-4869-9a0e-bc0615d99ef8",
      "name": "실습 시작"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{ ({\n  status: \"위험한 에이전트 실행 완료\",\n\n  mode: $(\"의심 메일 입력\").item.json.mode ?? \"unsafe\",\n\n  email_subject:\n    $(\"의심 메일 입력\").item.json.email?.subject ?? \"제목 없음\",\n\n  agent_output:\n    $json.output ?? \"에이전트 출력 없음\",\n\n  intermediate_steps:\n    $json.intermediateSteps ?? [],\n\n  attachment_filename:\n    $(\"의심 메일 입력\").item.json.attachment?.filename\n    ?? \"첨부파일 없음\",\n\n  actual_attachment_status:\n    $(\"의심 메일 입력\").item.json.attachment?.actual_status\n    ?? \"unknown\",\n\n  authority_given_to_agent:\n    \"메일과 첨부파일 전체를 승인 없이 전달할 수 있는 권한\",\n\n  control_missing: [\n    \"첨부파일 검사 Tool 미제공\",\n    \"메일 전달 전 사람 승인 없음\",\n    \"AI 분석 범위보다 실행 권한이 큼\"\n  ],\n\n  actual_result:\n    \"AI가 검사하지 않은 악성 첨부파일까지 사용자에게 전달됨\",\n\n  lesson:\n    \"AI가 사용한 권한과 자동화 정책은 시스템을 설계한 사람이 결정했습니다.\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -224
      ],
      "id": "3d2a74d9-6fee-40b5-bd73-670cb16c4d16",
      "name": "분석 결과"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/N8NTestAlert20260716",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "=[통제된 AI 에이전트 실행 결과]\n\n메일 제목:\n{{ $json.email_subject }}\n\n에이전트 결과:\n{{ $json.agent_output }}\n\n첨부파일:\n{{ $json.attachment_filename }}\n\n검사 결과:\n{{ $json.simulated_scan_result }}\n\n적용된 통제:\n{{ Array.isArray($json.controls_applied)\n  ? '- ' + $json.controls_applied.join('\\n- ')\n  : $json.controls_applied }}\n\n실제 결과:\n{{ $json.actual_result }}\n\n핵심:\n{{ $json.lesson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        400
      ],
      "id": "c78f05f6-d871-45f0-a040-f346803a1490",
      "name": "ntfy 알림"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/N8NTestAlert20260716",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "=[위험한 AI 에이전트 실행 결과]\n\n메일 제목:\n{{ $json.email_subject }}\n\n에이전트 결과:\n{{ $json.agent_output }}\n\n첨부파일:\n{{ $json.attachment_filename }}\n\n실제 첨부파일 상태:\n{{ $json.actual_attachment_status }}\n\n에이전트에게 부여된 권한:\n{{ $json.authority_given_to_agent }}\n\n누락된 통제:\n{{ Array.isArray($json.control_missing)\n  ? '- ' + $json.control_missing.join('\\n- ')\n  : $json.control_missing }}\n\n실제 결과:\n{{ $json.actual_result }}\n\n핵심:\n{{ $json.lesson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        -224
      ],
      "id": "52673fc4-7346-4412-b0ea-4c6634eafa90",
      "name": "ntfy 알림1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "unsafe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "132e2ba5-6deb-47c5-b4d0-20efa066f5eb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61e6596f-c4e7-447e-a0f2-c638c5d0d871",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "controlled",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        16
      ],
      "id": "e338b19f-be0e-40cb-b82e-fbea449205b9",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        672,
        -32
      ],
      "id": "d2d43134-e31c-456f-92c4-a4c99b3db443",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "0ytR65f3I64NJF4x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ ({\n  mode: \"controlled\",\n\n  email: {\n    from: \"payroll@company-hr.com\",\n    subject: \"2026년 7월 급여명세서 안내\",\n    body: \"안녕하세요.\\n\\n2026년 7월 급여 관련 안내사항을 전달드립니다.\\n문의사항은 인사운영팀으로 연락해 주세요.\\n\\n감사합니다.\"\n  },\n\n  attachment: {\n    exists: true,\n    filename: \"2026년_7월_급여명세서.pdf\",\n    actual_status: \"malicious\",\n    description: \"급여명세서 PDF로 위장한 악성 첨부파일\"\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "965657b5-adde-4c1b-b45c-69578d5bfb3d",
      "name": "의심 메일 입력"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사용자에게 이메일을 전달하거나 보안 담당자 검토를 요청할 수 있는 메일 처리 AI 에이전트입니다.\n\n현재 제공되는 분석 정보는 메일 발신자, 제목, 본문뿐입니다.\n\n다음 기준에 따라 행동하세요.\n\n1. 제목이나 본문에 다음과 같은 명확한 피싱 징후가 있으면 request_review 도구를 호출하세요.\n   - 비밀번호 또는 인증정보 요구\n   - 긴급한 계정 확인 요구\n   - 의심스러운 외부 링크\n   - 송금 또는 결제 요구\n   - 협박이나 불안감을 조성하는 문구\n\n2. 제목과 본문에서 명확한 피싱 징후가 확인되지 않으면 deliver_mail 도구를 호출하세요.\n\n3. 반드시 두 도구 중 하나를 실제로 호출하세요.\n\n4. 제공되지 않은 첨부파일 내용이나 검사 결과는 추측하지 마세요.\n\n메일 발신자:\n{{ $json.email.from }}\n\n메일 제목:\n{{ $json.email.subject }}\n\n메일 본문:\n{{ $json.email.body }}",
        "options": {
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        -224
      ],
      "id": "b783d7d9-3fdb-4a96-915d-41ba4bde48a1",
      "name": "취약한 메일 처리 Agent"
    },
    {
      "parameters": {
        "description": "제공된 메일 제목과 본문에서 명확한 피싱 징후가 없을 때 원본 메일을 사용자 받은편지함으로 전달합니다. 원본 메일의 첨부파일도 함께 전달됩니다.",
        "jsCode": "return JSON.stringify({\n  tool: \"deliver_mail\",\n  status: \"executed\",\n  action: \"메일과 첨부파일을 사용자 받은편지함으로 전달\",\n  result: \"원본 메일 전체 전달 완료\",\n  simulation: true\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        832,
        64
      ],
      "id": "2eabf6f6-f0fa-4c78-b858-96f6fc09f3db",
      "name": "deliver_mail"
    },
    {
      "parameters": {
        "description": "메일 제목이나 본문에서 피싱 징후가 발견됐을 때 메일 전달을 보류하고 보안 담당자의 검토를 요청합니다.",
        "jsCode": "return JSON.stringify({\n  tool: \"request_review\",\n  status: \"executed\",\n  action: \"메일 및 첨부파일 전달 보류\",\n  review_status: \"담당자 검토 대기\",\n  simulation: true\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        976,
        64
      ],
      "id": "efc8d1ef-3e58-4d2c-adc9-6e9fe0a4ed43",
      "name": "request_review"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 이메일 보안 처리 AI 에이전트입니다.\n\n메일을 전달하기 전에 반드시 검증 절차를 수행해야 합니다.\n\n다음 정책은 반드시 준수해야 합니다.\n\n1. attachment_exists가 true이면 가장 먼저 scan_attachment 도구를 호출하세요.\n\n2. 첨부파일 검사 결과가 malicious이면:\n   - deliver_mail 도구를 호출하지 마세요.\n   - request_review 도구를 호출하세요.\n\n3. 첨부파일 검사 결과가 unknown 또는 error인 경우에도:\n   - 메일을 전달하지 마세요.\n   - request_review 도구를 호출하세요.\n\n4. 첨부파일 검사 결과가 clean인 경우에만 deliver_mail 도구를 고려할 수 있습니다.\n\n5. deliver_mail 도구에는 사람의 승인 절차가 적용되어 있으므로 승인 없이 실행할 수 없습니다.\n\n6. 도구 실행 결과를 확인한 후 최종 처리 결과를 설명하세요.\n\n메일 발신자:\n{{ $json.email.from }}\n\n메일 제목:\n{{ $json.email.subject }}\n\n메일 본문:\n{{ $json.email.body }}\n\n첨부파일 존재:\n{{ $json.attachment.exists }}\n\n첨부파일 이름:\n{{ $json.attachment.filename }}",
        "options": {
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        256
      ],
      "id": "dc19bc22-6817-4866-b7f6-97e50a2a3c02",
      "name": "통제된 메일 처리 에이전트"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        672,
        496
      ],
      "id": "20f82aea-33c6-407d-a339-477473856ddd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0ytR65f3I64NJF4x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "첨부파일이 존재할 때 파일을 검사합니다. 메일을 전달하기 전에 반드시 호출해야 합니다. 검사 결과는 clean, malicious 또는 unknown으로 반환됩니다.",
        "jsCode": "return JSON.stringify({\n  tool: \"scan_attachment\",\n  scan_status: \"completed\",\n  filename: query || \"2026년_7월_급여명세서.pdf\",\n  verdict: \"malicious\",\n  findings: [\n    \"PDF 문서로 위장한 실행 파일 구조 탐지\",\n    \"PowerShell 실행 행위 탐지\",\n    \"외부 서버 접속 시도 탐지\"\n  ],\n  simulation: true\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1152,
        64
      ],
      "id": "1a963167-5b8e-4cf1-a296-375ebd056162",
      "name": "scan_attachment"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{ ({\n  status: \"통제된 에이전트 실행 완료\",\n\n  mode:\n    $(\"의심 메일 입력\").first().json.mode ?? \"controlled\",\n\n  email_subject:\n    $(\"의심 메일 입력\").first().json.email?.subject ?? \"제목 없음\",\n\n  agent_output:\n    $json.output ?? \"에이전트 출력 없음\",\n\n  intermediate_steps:\n    $json.intermediateSteps ?? [],\n\n  attachment_filename:\n    $(\"의심 메일 입력\").first().json.attachment?.filename\n    ?? \"첨부파일 없음\",\n\n  simulated_scan_result: \"malicious\",\n\n  controls_applied: [\n    \"첨부파일 존재 시 검사 Tool 필수\",\n    \"악성 또는 미확인 결과 시 전달 금지\",\n    \"메일 전달 Tool에 사람 승인 적용\",\n    \"담당자 검토 요청 Tool 제공\"\n  ],\n\n  actual_result:\n    \"악성 첨부파일 전달이 보류되고 담당자 검토가 요청됨\",\n\n  lesson:\n    \"같은 AI라도 실무자가 설정한 권한과 통제 정책에 따라 결과가 달라졌습니다.\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        400
      ],
      "id": "3b043d55-cc93-4d9b-9a85-46de2d1001c7",
      "name": "통제 실행 결과 정리"
    }
  ],
  "pinData": {},
  "connections": {
    "실습 시작": {
      "main": [
        [
          {
            "node": "의심 메일 입력",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분석 결과": {
      "main": [
        [
          {
            "node": "ntfy 알림1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "취약한 메일 처리 Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "통제된 메일 처리 에이전트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "취약한 메일 처리 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "의심 메일 입력": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "취약한 메일 처리 Agent": {
      "main": [
        [
          {
            "node": "분석 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deliver_mail": {
      "ai_tool": [
        [
          {
            "node": "취약한 메일 처리 Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "통제된 메일 처리 에이전트",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "request_review": {
      "ai_tool": [
        [
          {
            "node": "취약한 메일 처리 Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "통제된 메일 처리 에이전트",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "통제된 메일 처리 에이전트",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "scan_attachment": {
      "ai_tool": [
        [
          {
            "node": "통제된 메일 처리 에이전트",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "통제된 메일 처리 에이전트": {
      "main": [
        [
          {
            "node": "통제 실행 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "통제 실행 결과 정리": {
      "main": [
        [
          {
            "node": "ntfy 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5981bef0-ad82-46f4-8493-b2921f557bbe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9178931fe9e7d6915e403e1fcfb5af62e4d88d916eaefa60edec3d7ca1c69314"
  },
  "nodeGroups": [],
  "id": "S3VCJtpsfJO8faub",
  "tags": []
}